html {
  background: url("/assets/star-wars-desert.jpg") no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
  overflow: hidden;
  cursor: crosshair;
}

h1 {
  text-align: center;
  font-size: 80px;
  color: black;
  -webkit-text-stroke: 2px rgb(250, 253, 37);
  font-weight: bold;
  font-family: "Audiowide", sans-serif;
  font-weight: 300;
}

h2 {
  text-align: center;
  font-size: 30px;
  color: black;
  margin-top: -20px;
  font-family: monospace, sans-serif;
}

#start {
  display: block;
  text-align: center;
  font-size: 40px;
  font-family: "Audiowide", sans-serif;
  border-radius: 10px;
  background-color: black;
  color: white;
}

#timer {
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 600px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  cursor: url("/assets/green-lightsaber.png"), crosshair;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url("/assets/boulder.png") bottom center no-repeat;
  /* background: url("https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/hole.png?raw=true") bottom center no-repeat; */
  background-size: contain;
  content: "";
  width: 80%;
  height: 80%;
  position: absolute;
  bottom: -40%;
  z-index: 2;
  pointer-events: none;
}

.mole {
  background: url("/assets/darth-maul2.png") bottom center no-repeat;
  /* background:url('https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/mole.png?raw=true') bottom center no-repeat; */
  background-size: 50%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transition: all 1s;
  pointer-events: auto;
}

.hole.show .mole {
  top: 0;
  transform: scale(1.4);
}
